<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/mvc 
	http://www.springframework.org/schema/mvc/spring-mvc.xsd
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context.xsd">

	<context:component-scan base-package="com.paul.controller" />
	<context:component-scan base-package="com.paul.service" />
<!--	<mvc:annotation-driven conversion-service="conversionService" />-->
<!--	<mvc:resources location="/" mapping="/*.html" />-->

<!--	<import resource="properties.xml" />-->

<!--	<bean id="productX" class="com.paul.spring.beans.Product">-->
<!--        <constructor-arg index="0" ref="personalX"/>-->
<!--    </bean>-->

<!--    <bean id="personalX" class="com.paul.spring.beans.Personal">-->
<!--        <constructor-arg index="0" ref="productX"/>-->
<!--    </bean>-->

	<bean id="personalS" class="com.paul.spring.beans.Personal" autowire="byName"/>

<!--	<bean id="productS" factory-bean="personalS" factory-method="getProduct"/>-->

	<bean id="productS" class="com.paul.spring.beans.Personal" factory-method="staticGetProduct"/>

	<bean id="testclass" class="com.paul.proxy.TestClass"/>
	<bean id="instanceProxy" class="com.paul.proxy.InstanceProxy"/>

	<bean id="proxyManager" class="com.paul.proxy.ProxyManager">
		<property name="type" value="2"/>
		<property name="proxy1" ref="testclass"/>
		<property name="proxy2" ref="instanceProxy"/>
		<property name="date" value="2019-09-20 23:59:59"/>
	</bean>

	<bean id="product" class="com.paul.spring.beans.Product"
		factory-method="getInstance" destroy-method="destory" />

	<bean id="calendar" class="java.util.Calendar" factory-method="getInstance" />

	<bean id="product1" class="com.paul.spring.beans.Product">
		<constructor-arg name="name" value="paul" />
		<constructor-arg name="number" value="100" />
		<constructor-arg index="2" value="health" />
	</bean>

	<bean id="product2" class="com.paul.spring.beans.Product">
		<property name="calendar" ref="calendar" />
		<property name="name" value="zhoumm"></property>
	</bean>

	<bean id="kitty" class="com.paul.spring.beans.Kitty"/>

	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/classes/views/" />
		<property name="suffix" value=".jsp" />
	</bean>

	<bean id="conversionService"
		class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
		<!-- <property name="converters"> <set> <ref bean="stringToDateConverter"/> 
			</set> </property> -->
		<property name="formatters">
			<set>
				<ref bean="dateFormatter" />
			</set>
		</property>
	</bean>

	<bean id="stringToDateConverter" class="com.paul.util.StringToDateConverter">
		<constructor-arg name="datePattern" value="MM-dd-yyyy" />
	</bean>

	<bean id="dateFormatter" class="com.paul.util.DateFormatter">
		<constructor-arg name="datePattern" value="MM-dd-yyyy" />
	</bean>

	<bean id="validator"
		class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
		<property name="providerClass" value="org.hibernate.validator.HibernateValidator" />
		<property name="validationMessageSource" ref="messageSource" />
	</bean>

	<bean id="messageSource"
		class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basename" value="/WEB-INF/classes/message" />
	</bean>
	
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver" />

	<bean id="customEditorConfigurer" class="org.springframework.beans.factory.config.CustomEditorConfigurer">
<!--		<property name="customEditors">-->
<!--			<map>-->
<!--				<entry key="java.util.Date" value="com.paul.spring.property.DatePropertyEditor"/>-->
<!--			</map>-->
<!--		</property>-->
		<property name="propertyEditorRegistrars">
			<array>
				<bean class="com.paul.spring.property.DatePropertyEditorRegistrar"/>
			</array>
		</property>
	</bean>

	<bean id="demoListener" class="com.paul.spring.event.DemoListener"/>
	
</beans>