<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="product" class="com.paul.spring.beans.Product" factory-method="getInstance" destroy-method="destory"/>

	<bean id = "calendar" class = "java.util.Calendar" factory-method="getInstance"/>
	
	<bean id = "product1" class = "com.paul.spring.beans.Product">
		<constructor-arg name="name" value="paul" />
		<constructor-arg name="number" value="100" />
		<constructor-arg index="2" value="health" />
	</bean>
	
	<bean id = "product2" class = "com.paul.spring.beans.Product">
		<property name="calendar" ref="calendar" />
	</bean>

</beans>