<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  
  <filter>
  	<filter-name>MyFilter</filter-name>
  	<filter-class>com.paul.filter.MyFilter</filter-class>
  	<init-param>
  		<param-name>site</param-name>
  		<param-value>wo de lao ga</param-value>
  	</init-param>
  </filter>

  <filter-mapping>
  	<filter-name>MyFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>

	<context-param>
		<param-name>context-key1</param-name>
		<param-value>context-value1</param-value>
	</context-param>
	<context-param>
		<param-name>context-key2</param-name>
		<param-value>context-value2</param-value>
	</context-param>

  <servlet>
  	<servlet-name>dispatcherServlet</servlet-name>
  	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  	<load-on-startup>1</load-on-startup>
  	<init-param>
  		<param-name>contextConfigLocation</param-name>
  		<param-value>/WEB-INF/classes/applicationContext.xml</param-value>
  	</init-param>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>dispatcherServlet</servlet-name>
  	<url-pattern>/</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>myHttpServlet</servlet-name>
  	<servlet-class>com.paul.servlet.MyHttpServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>myHttpServlet</servlet-name>
  	<url-pattern>/myhttp</url-pattern>
  </servlet-mapping>
	<servlet>
		<servlet-name>beerSelect</servlet-name>
		<servlet-class>com.paul.servlet.headFirst.BeerSelect</servlet-class>
		<init-param>
			<param-name>key1</param-name>
			<param-value>value1</param-value>
		</init-param>
		<init-param>
			<param-name>key2</param-name>
			<param-value>value2</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>beerSelect</servlet-name>
		<url-pattern>/selectBeer.do</url-pattern>
	</servlet-mapping>

	<listener>
		<listener-class>com.paul.servlet.headFirst.MyRequestListener</listener-class>
	</listener>

	<listener>
		<listener-class>com.paul.servlet.headFirst.MyServletContextListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>welcomeServlet</servlet-name>
		<servlet-class>com.paul.servlet.headFirst.WelcomeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>welcomeServlet</servlet-name>
		<url-pattern>/newWelcome.html</url-pattern>
	</servlet-mapping>

  <welcome-file-list>
  	<welcome-file>welcome.jsp</welcome-file>
  </welcome-file-list>
</web-app>